#footer{
    background-color: black;
    padding: 25px 25px 25px 25px;
    color: white;
}
#foot-top{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

#foot-top>#sections{
    width: 45%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
#sections>div{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */

}
#sections>div>a{
    text-decoration: none;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}
#sections>div>a:hover{
    text-decoration: underline;
}
#foot-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 10%;
}
